<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<title>Inventario</title>
</head>
<body>
  <%- include("../template/navbar.ejs") %> 
<div class="container">
<h1 class="my-4">Inventario</h1>
<img src="/images/img2.jpg" width="20%" height="" alt="Mi Imagen" class="img-fluid mt-3">
<a href="/products/new" class="btn btn-primary mb-3">Nuevo Producto</a>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td>
            <a href="/products/<%= product.id %>/edit" class="btn btn-warning btn-sm">Editar</a>
            <form action="/products/<%= product.id %>/delete" method="POST" class="d-inline">
              <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


